extends layout
block content
  form#place_query(href="#")
    | selecciona un lugar: 
    input.query

  ul#places_list


block append scripts
  script#places_tmpl(type="text/x-handlebars-template")
    {{#each places}}
    li
      a.4sqr_place(data-id="{{id}}", href="/places/{{id}}/{{name}}")
        {{name}}
    {{/each}}

    {{#unless places}}
    p No se encontraron lugares con este nombre
    {{/unless}}
