@import 'nib'

p
  margin: 0

div#messages
  border: solid 1px black
  padding: 10px
  max-height: 300px
  overflow: auto

  p.message
    span.author
      margin: 0 5px 0 0
      font-weight: bold

form#new_message
  .text
    width: 100%
    margin: 10px 0
